app = "ai-fashion-bot"
primary_region = "sin"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = "4gb"
  cpu_kind = "shared"
  cpus = 1
